/* Specific styles for the add-device page */
section {
   max-width: 900px;
   margin: auto;
   padding: 20px;
   background-color: #f9f9f9;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
   margin-top: 0;
}

form {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 20px;
   align-items: center;
}

form label {
   margin-top: 10px;
   display: block;
}

form input,
form select,
form textarea {
   width: 100%;
   padding: 10px;
   border: 1px solid #ddd;
   border-radius: 4px;
   box-sizing: border-box;
}

form button {
   grid-column: span 4;
   padding: 10px;
   background-color: #28a745;
   color: white;
   border: none;
   cursor: pointer;
   border-radius: 4px;
   margin-top: 10px;
}

form button:hover {
   background-color: #218838;
}

table {
   width: 100%;
   border-collapse: collapse;
   margin-top: 20px;
}

table,
th,
td {
   border: 1px solid #ddd;
}

th,
td {
   padding: 10px;
   text-align: left;
}

th {
   background-color: #f2f2f2;
}

.melding-container {
   display: flex;
   align-items: center;
   gap: 10px;
}

.delete-btn {
   background-color: #f44336; /* Red color */
   color: white;
   border: none;
   padding: 5px 10px;
   cursor: pointer;
}

.delete-btn:hover {
   background-color: #d32f2f; /* Darker red on hover */
}
