/* AddDevice.css */

.container-selects {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   margin-bottom: 20px;
}

.three-elements {
   display: flex;
   align-items: center;
   margin-top: 30px;
   flex-basis: 50%;
}

.add-device-container h2 {
   font-family: "Arial", sans-serif;
   margin: 10px;
   text-align: center;
}

label select,
label input {
   margin-top: 5px;
   padding: 11px;
   font-size: 14px;
   width: 100%;
   box-sizing: border-box;
}

.checkbox-field {
   display: flex;
   align-items: center;
}

.checkbox-field label {
   margin-left: 5px;
}

.checkbox-field input {
   margin-left: 40px;
}

.table-container {
   margin-top: 20px;
}

#devicesTable {
   width: 100%;
   border-collapse: collapse;
}

#devicesTable th,
#devicesTable td {
   border: 1px solid #ddd;
   padding: 8px;
}

#devicesTable th {
   background-color: #f2f2f2;
}

.section-title-table {
   padding-top: 20px;
}
