.deviceDetailContainer {
   padding: 20px;
   font-family: Arial, sans-serif;
}

.deviceDetail {
   max-width: 800px;
   margin: 0 auto;
   padding: 20px;
   border: 1px solid #ddd;
   border-radius: 8px;
   background-color: #f9f9f9;
}

.deviceDetailHeader {
   font-size: 24px;
   color: #333;
   margin-bottom: 20px;
}

.deviceDetail h2 {
   font-size: 30px;
   color: #555;
   margin-bottom: 10px;
   text-align: right;
}

.deviceInfoTop {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 20px;
}

.deviceInfoTop h2 {
   margin: 0;
}

.deviceInfoTop p {
   margin: 0;
}

.deviceDetail p {
   margin: 10px 0;
   font-size: 16px;
   color: #666;
   text-align: left; /* Aligns all text to the left */
}

.deviceDetail strong {
   color: #333;
   display: inline-block; /* Ensures label and value align left */
   width: 100px; /* Set a fixed width for labels */
}

.deviceDetail .deviceDetailValue {
   display: inline-block;
}

.deviceDetail .deviceDetailNotes {
   display: block; /* Ensure notes are displayed as a block */
   margin-top: 10px;
   font-style: italic;
   color: #333; /* Adjust color as needed */
   white-space: pre-wrap; /* Preserve whitespace and line breaks */
}

.deviceInfoGrid {
   display: grid;
   grid-template-columns: 1fr 1fr; /* Two columns with equal width */
   gap: 20px; /* Space between columns */
}

.deviceInfoColumn {
   display: flex;
   flex-direction: column;
}

.deviceDetail table {
   width: 100%;
   border-collapse: collapse;
   margin-top: 20px;
}

.deviceDetail th,
.deviceDetail td {
   padding: 10px;
   border: 1px solid #ddd;
   text-align: left; /* Ensure text is left-aligned in table */
}

.deviceDetail th {
   background-color: #f4f4f4;
}

.deviceDetail td {
   font-size: 14px;
}

.deviceDetail .logsTable {
   margin-top: 20px;
}

.deviceDetail .noLogs {
   font-style: italic;
   color: #999;
}

.deviceDetail .totalCostLabel {
   text-align: center; /* Align label to the right */
   color: red; /* Red color for the label */
   font-weight: bold; /* Make text bold */
   padding-right: 10px; /* Padding to the right */
}

.deviceDetail .totalCostValue {
   text-align: left; /* Align value to the right */
   color: red; /* Red color for the value */
   font-weight: bold; /* Make text bold */
}
