/* ViewDevices.css */

.view-devices-container-unique h1.view-devices-title-unique {
   text-align: center;
}

.view-devices-search-container-unique {
   display: flex;
   margin-top: 10px;
}

.view-devices-search-input-unique {
   width: 20%;
   margin: 10px;
   padding: 11px;
}

.view-devices-table-wrapper-unique {
   margin-top: 20px;
}

.view-devices-table-unique {
   width: 100%;
   border-collapse: collapse;
   font-family: Arial, Helvetica, sans-serif;
   font-size: small;
}

.view-devices-table-header-unique,
.view-devices-table-cell-unique {
   border: 1px solid #ddd;
   padding: 2px;
   text-align: left;
}

.view-devices-table-header-unique {
   background-color: #f2f2f2;
}

.view-devices-table-row-unique:nth-child(even) {
   background-color: #f2f2f2;
}

.view-devices-edit-button-unique {
   background-color: #3498db;
   color: white;
   border: none;
   padding: 5px 10px;
   cursor: pointer;
   border-radius: 4px;
}

.view-devices-edit-button-unique:hover {
   background-color: #2980b9;
}

.view-devices-delete-button-unique {
   background-color: #e74c3c;
   color: white;
   border: none;
   padding: 5px 10px;
   cursor: pointer;
   border-radius: 4px;
}

.view-devices-delete-button-unique:hover {
   background-color: #c0392b;
}

.view-devices-pagination-unique {
   margin-top: 20px;
   text-align: center;
}

.view-devices-pagination-button-unique {
   margin: 5px;
   padding: 5px 10px;
   border: none;
   background-color: #3498db;
   color: white;
   border-radius: 4px;
   cursor: pointer;
}

.view-devices-pagination-active-unique {
   background-color: #2980b9;
}

/* Optional: Change background color on hover */
.view-devices-table-row-unique:hover {
   background-color: #f5f5f5;
}
